* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.container-clima {
    background-color: #ffffffb0 !important;
    position: relative;
}

/*side left*/
.regiao {
    position: absolute;
    margin-top: 5vh;
    left: 5vw;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}

#local, #país {
    color: #0D8BD9;
}

.regiao span {
    font-size: 1.6em;

    font-weight: bold;
}

.icones {
    display: flex;
    justify-content: center;
    padding-top: 0vh;
    position: relative;
}

.tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0vh;
    position: relative;
}

#temperatura {
    font-size: 10rem;
    font-weight: 700;
    color: #0D8BD9;
}

.situacao {
    display: flex;
    justify-content: center;
    margin-top: 0vh;
    position: relative;
}

.situacao span {
    font-size: 1em;
    font-weight: 500;
}

#descricao {
    color: #0D8BD9;
    text-transform: uppercase;
}

.fatores_climaticos {
    display: grid;
    grid-template-columns: 30% 65%;
    padding: 0 5%;
    margin-top: 50vh;
}

.corpo {
    background-color: white !important;
    position: relative;
    height: 100vh;
    width: 100%;
}

.input-container {
    width: 240px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 3vh;
    height: 6vh;
}

.input-container > input {
    border: solid 1px #0D8BD9;
}

.label {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all .2s;
    padding: 0 2px;
    z-index: 1;
    color: #0D8BD9;
    user-select: none;
}

.text-input {
    padding: .8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #BFBFBF;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: all .3s;
    color: #3E3E40;
}

.text-input::placeholder {
    color: #BFBFBF;
}

.label::before {
    content: '';
    height: 5px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus {
    border: 2px solid #0D8BD9;
}

.text-input:focus + .label {
    top: -10px;
    color: #0D8BD9;
    font-size: 18px;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all .3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}

.text-input:not(:placeholder-shown) + .label {
    top: -10px;
    color: #0D8BD9;
    font-size: 18;
}

#buscar {
    position: absolute;
    margin-top: 5vh;
    left: 50%;
    transform: translate(-50%);
    width: 150px;
    height: 6vh;
    border: none;
    color: #0D8BD9;
    background-color: #fff;
    border: solid 1px #0D8BD9;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#buscar:hover {
    background-color: #ffffff;
    border: solid 1px #1D8FF2;
    color: #1D8FF2;
    transition: .2s;
}


.dados_temp {
    display: grid;
    grid-template-columns: 60% 40%;
}

.regiao {
    position: absolute;
    margin-top: 5vh;
    left: 5vw;
}

.regiao span {
    font-size: 1.6em;
    color: #1D8FF2;
    font-weight: bold;
}

.tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0vh;
    position: relative;

}

.tempo span {
    font-size: 8em;
    font-weight: 700;
    color: #FFFFFF;
}

.min_max {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}

.dados_temp {
    display: flex;
    justify-content: center;
    background-color: #ffffffb0 !important;
    margin-top: 8vh;
    padding: 10px;
    width: 100%;
}

.temperaturaMax {
  
    font-size: 1.5em;
}

.temperaturaMax span {
    font-size: 2em;
    color: #E43A4A;
    font-weight: bold;
}

.temperaturaMax img {
    width: 1.5em;
}

.temperaturaMin {
    
    font-size: 1.5em;
}

.temperaturaMin span {
    font-size: 2em;
    color: #66BCF2;
    font-weight: bold;
}

.temperaturaMin img {
    width: 1.5em;
}

.icones {
    display: flex;
    justify-content: center;
    padding-top: 0vh;
    position: relative;
}

.situacao {
    display: flex;
    justify-content: center;
    margin-top: 0vh;

}

.situacao span {
    color: #1D8FF2;
    font-size: 1.5em;
    font-weight: 500;
}

.dados {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    margin-top: 8vh;
    width: 100%;
}

.humidadeAr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.humidadeAr span {
    font-size: 1.8em;
    color: #30A8F2;
}

.humidadeAr p {
    font-size: 1.5em;
    color: #595959;
}

.humidadeAr img {
    width: 3em;
}

.sensacaoTemp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sensacaoTemp span {
    font-size: 1.8em;
    color: #30A8F2;
}

.sensacaoTemp p {
    font-size: 1.5em;
    color: #595959;
}

.sensacaoTemp img {
    width: 3em;
}

.final h6 {
    position: absolute;
    top: 97vh;
    left: 50%;
    transform: translate(-50%);
    font-weight: lighter;
    color: white;
    font-size: .6em;
}

#slakk {
    width: 100%;
    height: 100vh;
    position: absolute;
    transition: .3s;
    object-fit: cover;
}